@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-box" id="login-box">
    <div class="Login-Logo">
       @* <b>City Dekh</b>*@
    </div>
    @Html.ValidationSummaryBootstrap()
    @RenderBody()
</div>