<div class="hide" id="turnoverMainContainer"> 
    <div class="turnover fadetoggle">
        <div class="turnover-inner ">
            <div class="turnover-title">
                <a class="close">x</a>
                <h3 id="turnoverHeading">
                    &nbsp;
                </h3>
            </div>
            <div class="turnover-content" id="turnoverContent">
                &nbsp;
            </div>
        </div>
    </div>
</div>
