@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/_MasterFrontend.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <center>
            <div style="margin-top:50px;">
                <i class="fa fa-check" style="font-size:70px;color:red"></i>
                <h1><b>Thank You!</b></h1>
                <h4><b>Your Registration has been received. Our representative will be in touch shortly. </b></h4>
                @*<h4><b>Your Registration has been received.</b></h4>*@
            </div>
        </center>
    </div>
</body>
</html>