.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    //display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}
a{text-decoration:none;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
          color:red;
}
 
a:hover {
  //border-radius: 50%;
  //-webkit-transform: rotate(360deg);
    // -moz-transform: rotate(360deg);
      // -o-transform: rotate(360deg);
     // -ms-transform: rotate(360deg);
          //transform: rotate(360deg);
		 // z-index:5555;
		    //height: 90%;
			//width: 90%;

}
li{ list-style-type:none;
}
h1,h2,h3,h4,h5,h6,ul,li{ margin:0;
padding:0;
}
*{ margin:0;
padding:0;
}
input[type="submit"]{ cursor: pointer;
}
p{ line-height:150%;
}
/*=======================================================*/
body{ font-family:Arial, Helvetica, sans-serif;
font-size:14px;
//background:#eee;
}
.wrapper{ width:100%;
float:left;
}
.inner_wrapper{ width:90%;
//max-width:1024px;
margin:0 auto;
}
header{ float:left;
width:100%;
padding:7px 0;
background:#64a5e0;
}
.hed_left{ width:50%;
float:left;
}
.hed_right{ float:right;
width:67%;
}
.hed_right li{ //display:inline-block;
text-align:right;
padding:0 10px;
float:left;
border-right:1px solid #fff;
}
.hed_right ul{ float:right;
}
.hed_right li:last-child{ border:none;
}
.hed_right li a{ color:#fff;
}
.slider{ float:left;
margin-top:20px;
width:100%;
}
.slider img{ width:100%;
}
.con_i{ float:left;
margin:20px 0;
width:100%;
}
.con_i_left{ width:70%;
float:left;
background:#fff;
}
.con_i_right{ float:right;
width:27%;
//background:#fff;
}
.right_i{ float:left;
width:90%;
padding:2% 5%;
border-top:5px solid #ff9900;
background:#fff;
}
.search{ width:100%;
float:left;
padding:15px 0;
color:#ff9900;
border-bottom:1px dotted #ddd;
margin-bottom:15px;
}
.search h3{ text-align:center;
margin-bottom:10px;
}
.search li{ float:left;
}
.search li input[type=text]{ height:32px;
border:1px solid #eee;
padding-left:5px;
}
.search select{ height:32px;
border:2px solid #ffcb7d;
padding-left:5px;
width:100%;
//border-radius:3px;
}
.search li input[type=submit]{ height:35px;
border:none;
padding-left:5px;
padding:0 15px;
}
.slider_i{ float:left;
width:100%;
}
.slidr_box{ width:100%;
float:left;
}
.slidr_box_left{ width:30%;
float:left;
}
.slidr_box_left img{ width:100%;
}
.slidr_box_right{ width:65%;
float:right;
}
.slidr_box_right h3{ font-size:12px;
margin-top:10px;
margin-bottom:5px;
}
.right_ii{ width:100%;
float:left;
margin-top:10px;
}
.right_ii li{ float:left;
padding:1%;
width:48%;
}
.right_ii img{ width:100%;
}
.right_iii{ float:left;
width:100%;
margin-top:10px;
    padding-bottom: 10px;
}
.right_iii_left{ width:30%;
float:left;
}
.right_iii_right{ float:right;
width:68%;
}
.right_iv{ float:left;
background:#ff9900;
    width: 98.5%;
padding:2px;
//margin-top:15px;
}
.right_iv ul{ float:left;
width:100%;
background:#fff;
}
.right_iv li{ float:left;
padding:7px 7px;
background:#fff;
//width:30%;
color:#fff;
    height: 27px;
}
.right_iv li img{ width:100%;
    max-width: 27px;
}
.right_iv li:first-child{ background:none;
    line-height: 27px;
	font-weight:bold;
	background:#ff9900;
}
.right_i_new{ float:left;
width:100%;
}

.right_v{     width: 88.5%;
padding:15px 5%;
background:#fff;
border-left:5px solid #999999;
float:left;
margin-top:20px;
}
.right_v small{ color:#e06666;
float:right;
font-size:11px;
}
.right_v h5{ margin-bottom:10px;
}

.right_v_b{     width: 88.5%;
padding:15px 5%;
background:#fff;
border-right:5px solid #999999;
float:left;
margin-top:20px;
}
.right_v_b small{ color:#e06666;
float:right;
font-size:11px;
}
.right_v_b h5{ margin-bottom:10px;
}
.right_ii_new{ width:100%;
float:left;
margin-top:20px;
background:#fff;
}
.right_ii_new li{ float:left;
padding:1%;
width:48%;
}
.right_ii_new img{ width:100%;
border-top:7px solid #ff9900;
}
.my_box{ width:100%;
float:left;
background:#eeeeee;
}
.my_bo_i{ float:left;
padding:10px 0;
}
.my_box h5{ padding:5px;
float:left;
color:#444444;
width:100%;
}
.my_bo_i{ padding:5px 1%;
width:98%;
font-size: 12px;
color: #000;
}
.my_bo_i img{ max-width:15px;
}
.my_bo_i_left{ float:left;
width:50%;
} 
.my_bo_i_right{ width:50%;
float:right;
}
.fil_box{ width:96%;
float:left;
padding:0 2%;
margin-top:15px;
}
.fil_box_left{ width:49%;
float:left;
}
.fil_box_right{ width:49%;
float:right;
}

.cd-filter-block h4{ float:left;
width:35%;
font-size:12px;
}
.fil_box .cd-filter-content{ float:right;
width:57%;
}
.my_bo_i_right table{ float:right;
}
.bottom_slider{ float:left;
width:100%;
}
footer{ float:left;
width:100%;
padding:7px 0;
background:#F32E2E;
margin-top:20px;
}
footer ul{ float:right;
}
footer li{ float:left;
padding:0 3px;
}
.blue{ color:#3d85c6;
}
.gry{ color:#666;
}
.bottom_box{ width:31%;
float:left;
padding:1%;
background:#fff;
}
.bottom_box img{ width:100%;
}
.bottom_box h4{ width:100%;
float:left;
clear:both;
color:#F32E2E;
margin-bottom:15px;
    font-size: 11px;
}
.bottom_box_left{ float:left;
width:30%;
}
.bottom_box_right{ width:68%;
float:right;
}
.bottom_box_right p{ margin-bottom:3px;
font-size:10px;
}
/***********************************/
.hed_line{ width:96%;
float:left;
padding:10px 2%;
background:#F32E2E;
color:#fff;
}
.my_left_serach{ width:96%;
float:left;
padding:2%;
    background: #F32E2E;
}
.my_left_serach select{ width:100%;
height:32px;
max-width:250px;
}
.my_left_serach li{ float:left; 
}
.my_left_serach ul{ float:right;
max-width:400px;
}
.my_left_serach li input{ border: 1px solid #e9e6e6;
    height: 33px;
	width: 300px;
}
.my_left_serach li input[type=submit]{ border:none;
height:35px;
background:#F32E2E;
padding:0 20px;
font-weight:bold;
color:#fff;
width:auto;
}
.store_i{ width:100%;
float:left;
padding:10px 0 8px 0;
text-align:center;
}
.store_i h3{ color: #ffe89b;
    font-size: 25px;
    text-align: right;
}
.store_i_left{ float:left;
width:49.5%;
background:#6b7f5a;
min-height: 140px;
}
.store_i_right{ float:right;
width:49.5%;
background:#7c7c0c;
min-height: 140px;
}
.store_i table{ width:100%;
}
.store_i img{ max-width:220px;
    float: right;
	width:100%;
}
.store_ii{ width:100%;
float:left;
padding:0px 0 10px 0;
text-align:center;
}
.store_ii_left{ width:30%;
float:left;
background:#c97c4a;
    padding: 30px 0;
    min-height: 258px;
}
.store_ii_left h3{ margin-bottom:20px;
}
.store_ii_left img{ width:100%;
}
.store_ii h3{ color: #ffe89b;
    font-size: 25px;
    text-align: center;
	margin-top:10px;
}
.store_ii_right{ width:69%;
float:right;
}
.store_ii_i{ width:49%;
float:left;
background:#ff9900;
padding:10px 0;
    min-height: 130px;
}
.store_ii_right img{ width:100%;
max-width:120px;
}
.store_ii_right h3{ margin-top:0;
}
.store_ii_ii{     width: 49.5%;
    float: right;
background:#45818e;
padding:10px 0;
    min-height: 130px;
}
.red_box{ width:100%;
background:#cc0000;
float:left;
margin-top:8px;
min-height: 160px;
text-align:center;
}
.red_box img{  width:100%;
max-width:200px;
//float:right;
margin-top:15px;
}
.red_box table{ width:100%;
}
.red_box table td{ width:50%;
}
.red_box table h3{ margin-top:15px;
}
.bluered_box{ width:100%;
background:#6b7f5a;
float:left;
margin-top:2px;
min-height: 149px;
text-align:center;
}
.bluered_box img{  width:100%;
max-width:160px;
//float:right;
margin-top:15px;
}
.bluered_box table{ width:100%;
}
.bluered_box table td{ width:50%;
}
.bluered_box table h3{ margin-top:15px;
}

.store_iii{ width:100%;
float:left;
//padding:10px 2%;
margin-bottom:10px;
}
.store_iii_title{ width:96%;
float:left;
background:#F32E2E;
padding:10px 2%;
}
.store_iii_left{ width:48%;
float:left;
padding-left:1%;
color:#fff;
text-align:right;
}
.store_iii_right li{ float:left;
margin:0 5px;
}
.store_iii_right{ float:right;
width:49%;
}
.store_iii_right ul{ float:right;
}
.store_iii_right a{ color:#fff;
font-weight:bold;
}
.store_iii_box{ width:100%;
float:left;
margin-top:15px;
overflow:hidden;
}
.store_iii_box .my_box p img{ width:100%;
}
.newscreen_i{ width:100%;
float:left;
padding:10px 0;
background:#ddd;
margin-top:10px;
}
.newscreen_i .my_left_serach{ background:none;
padding:0;
margin-left:10px;
}
.newscreen_i .my_left_serach ul{ float:left;
}
.newscreen_i_left{ width:49%;
float:left;
}
.newscreen_i_right{ width:49%;
float:right;
text-align:right;
}
.newscreen_i_right h3{
    margin-top: 8px;
    margin-right: 10px;
}
.newscreen_ii{ 
float:left;
margin-top:10px;
width:100%;
}
.newscreen_ii_title{background:#F32E2E;
float:left;
width:100%;
margin-bottom:10px;
}
.newscreen_ii_title_left{ width:49%;
float:left;
}
.newscreen_ii_title_left h3{ padding:10px 0 10px 10px;
color:#fff;
font-weight:normal;
}
.newscreen_ii_title_right{ width:49%;
float:right;
text-align:right;
}
.newscreen_ii_title_right a{ padding:11px 20px;
color:#fff;
float:right;
background:;
}
.newscreen_ii_box{ width:100%;
float:left;
overflow:hidden;
}
.new_screen_box{ width:100%;
float:left;
text-align:center;
background:#6b7f5a;
}
.new_screen_box h3{ padding:10px 0;
float:left;
color:#ffe89b;
font-weight:normal;
width:100%;
}
.new_screen_box p{ //padding:10px 0;
float:left;
width:100%;
}

.new_screen_box img{ width:100%;
float:left;
}
.mobile_app{ width:100%;
float:left;
margin-top:15px;
background:#fff;
padding-bottom:20px;
}
.mobile_app_title{ width:98%;
float:left;
background:#ff9900;
padding:5px 1%;
color:#fff;
}
.ma_title_left{ width:40%;
float:left;
}
.ma_title_left h3{margin-top: 8px;
}
.ma_title_right{
float:right;
}
.ma_title_right select{ height:30px;
width:300px;
border:none;
margin-left:10px;
}
.mobile_app_box{ width:96%;
float:left;
padding:2%;
}
.mobile_app_box li{ float:left;
width:100%;
padding:10px 0;
}
.mobile_app_box input[type=text]{ width:100%;
height:35px;
border:1px solid #ccc;
}
.mobile_app_box select{ width:100%;
height:35px;
border:1px solid #ccc;
max-width:300px;
}
.mobile_app_box textarea{ width:100%;
height:300px;
border:1px solid #ccc;
}
.ma_box_left{ float:left;
width:25%;
}
.ma_box_right{ float:right;
width:73%;
}
.mobile_app_box input[type=submit]{ width:100%;
max-width:150px;
font-weight:bold;
height:40px;
border:1px solid #ccc;
color:#38761d;
border:2px solid #38761d;
background:none;
float:right;
}
.mobile_app_box input[type=submit]:hover{ color:#fff;
background:#38761d;
}
.reg_search_inner{ width:100%;
float:left;
background:#3d85c6;
padding:10px 0;
//margin-bottom:30px;
}
.reg_search_inner ul{ float:right;
    margin-right: 20px;
}
.reg_search_inner li{ float:left;
}
.reg_search_inner input[type=text]{ width:100%;
float:left;
height:30px;
width:300px;
}
.reg_search_inner input[type=submit]{ background:#8651c4;
color:#fff;
height:35px;
border:none;
padding:0 20px;
font-weight:bold;
}
ul.resp-tabs-list{
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  float: left;
      width: 30.91555999%;
}

.resp-tabs-container {
  padding: 0px;
  //background-color: #fff;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 15px;
}

.resp-tab-active {
  //border: 1px solid #c1c1c1;
  border-bottom: none;
  margin-bottom: -1px !important;
  padding: 12px 14px 14px 14px !important;
}

.resp-tab-active {
  border-bottom: none;
background:#fff; 
color:#44688a;
    border-bottom: 2px solid #c1aa5d;
}
#horizontalTab{ background:#c1aa5d;
color:#fff;
}
.resp-content-active,
.resp-accordion-active { display: block;
}

.resp-tab-content { //border: 1px solid #c1c1c1;
float:left;
width:100%;
}

h2.resp-accordion {
  font-size: 13px;
  border: 1px solid #c1c1c1;
  border-top: 0px solid #c1c1c1;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

.resp-vtabs ul.resp-tabs-list {
  float: left;
  width: 30%;
}

.resp-vtabs .resp-tabs-list li {
  display: block;
  padding: 15px 15px !important;
  margin: 0;
  cursor: pointer;
  float: none;
}

.resp-vtabs .resp-tabs-container {
  padding: 0px;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  float: left;
  width: 68%;
  min-height: 250px;
  border-radius: 4px;
  clear: none;
}

.resp-vtabs .resp-tab-content { border: none; }

.resp-vtabs li.resp-tab-active {
  border: 1px solid #c1c1c1;
  border-right: none;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-right: -1px !important;
  padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
  width: 0;
  height: 0;
  float: right;
  margin-top: 3px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 12px solid #06233c;
}

h2.resp-tab-active span.resp-arrow {
  border: none;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid #06233c;
}

/*-----------Accordion styles-----------*/

h2.resp-tab-active { 
 }

.resp-easy-accordion h2.resp-accordion { display: block; }

.resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }

.resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }

.resp-jfit {
  width: 100%;
  margin: 0px;
}

.resp-tab-content-active { display: block; }

h2.resp-accordion:first-child { border-top: 1px solid #c1c1c1 !important; }
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {

ul.resp-tabs-list { display: none; }

h2.resp-accordion { display: block; }

.resp-vtabs .resp-tab-content { border: 1px solid #C1C1C1; }

.resp-vtabs .resp-tabs-container {
  border: none;
  float: none;
  width: 100%;
  min-height: initial;
  clear: none;
}

.resp-accordion-closed { display: none !important; }

.resp-vtabs .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
}
.resp-tabs-list input{ float:left;
margin-right:10px;
}
.resp-tabs-list label{ padding:10px 0;
cursor:pointer;
    //color: #fff;
}
.resp-tabs-container img{ width:100%;
float:left;
}
.reg_search{ width:100%;
float:left;
}
.login{ width:100%;
float:left;
padding:20px 0;
}
.login_left{ float:left;
width:49%;
}
.login_right{ float:right;
width:49%;
}
.login h3{ float:left;
margin-bottom:10px;
padding-bottom:10px;
border-bottom:1px dashed #0b5394;
width:100%;
color:#0b5394;
}
.login li{ float:left;
padding:5px 0;
width:100%;
} 
.login_box input[type=text]{ width:100%;
height:30px;
border:1px solid #ddd;
margin-top:5px;
}
.login_box input[type=password]{ width:100%;
height:30px;
border:1px solid #ddd;
margin-top:5px;
}
.login_box select{ width:100%;
height:32px;
border:1px solid #ddd;
margin-top:5px;
}
.login_box input[type=submit]{ width:100%;
height:35px;
border:1px solid #0b5394;
margin-top:5px;
background:#0b5394;
font-weight:bold;
color:#fff;
font-size:16px;
}
/*.login_box{     width: 88%;
    padding: 2%;
    background: #cdcdcd;
    float: left;
    margin: 2% 4% 0 4%;
}*/
.log_tab{ width:100%;
float:left;
}
.continue{ background:#cc0000 !important;
border:1px solid #cc0000 !important;
}
.sign_up{ float:left;
width:100%;
background:#fff;
text-align:center;
padding-top:10px;
}
.sign_up li{ width:100%;
padding:3px 0;
}
.sign_up img{ max-width:400px;
margin:0 auto;
height:auto;
float:none;
}
.mandatory{margin-top:10px; 
text-align:right; 
float:right;width:100%;
}
.newscreen_ii_a{ width:100%;
float:left;
margin-bottom:20px;
}
.newscreen_ii_a li{ float:left;
width:24%;
margin:.5%;
}
.offers_box{ float:left;
width:100%;
}
.offers_box li{ float:left;
width:23%;
margin:1%;
}
.stores_box{ width:100%;
float:left;
color:#000;
}
.stores_box li{ width:100%;
float:left;
margin-bottom:15px;
background:#f5de91;
}
.stores_box_left{ float:left;
width:49%;
}
.stores_box_left img{ width:100%;
}
.stores_box_right{ width:49%;
float:right;
color:#666;
padding:1%;
}
.so_im{width:30px; vertical-align:top; padding-left:10px;
}
.so_im p{ margin-bottom:10px;
float:left;
}
.stores_box_right h3{ margin-bottom:5px;
}
.str{float:left; 
max-height:20px; 
width:auto !important;
margin-right:10px;
}
.my_tab{ width:100%;
}
.my_tab table{ float:right;
}
.resp-tab-content{ color:#000;
}
.blue_box{ width:90%;
padding:5%;
background:#eee;
color:#F32E2E;
float:left;
margin:2px 0;
}
.blue_box img{ width:100%
}
.new_header{background:#F32E2E;
float:left;
padding:10px 0;
width:100%;
}
.hed_left_new{ width:15%;
float:left;
}
.hed_left_new_popup{ width:100%;
float:left;
}
.hed_left_new_popup img{ max-width:80px;
}
.hed_left_new img{ max-width:80px;
}
.hed_right_new{ width:83%;
float:right;
}
.hed_right_new a{ color:#fff;
}
.hed_right_new li{ float:left;
padding:0 10px;
line-height:32px;
}
.hed_right_new ul{ //width:100%;
float:right;
padding:6px 0;
clear:both;
}
.search_left{ float:left;
    width: 500px;
}
.search_left input{ width:100%;
border:2px solid #fff;
height:30px;
border-radius:5px;
}
.search_right{ float:right;
}
.search_right input{ float:right;
background:url(images/search.jpg) no-repeat center;
border:none;
height: 32px;
width: 33px;
margin-left:-35px;
}
.hed_right_new select{ border:none;
background:none;
font-weight:bold;
color:#fff;
}
.hed_right_new option{ color:#000;
}
.header_bottom{ float:left;
width:100%;
padding:12px 0;
background:#F32E2E;
text-align:center;
border-top:2px solid #fff;
}
.header_bottom li{ //float:left;
padding:0 10px;
border-right:1px solid #fff;
display:inline-block;
}
.header_bottom li:last-child{ border:none;
}
.header_bottom li a{ color:#fff;
}
.mall_search{ float:left;
width:98%;
padding:15px 1%;
border-bottom:1px solid #ddd;
margin-bottom:15px;
}
.mall_search_left{ width:49%;
float:left;
}
.mall_search_right{ float:right;
width:49%;
}
.mall_search_left input[type=submit]{ background:none;
border:none;
background:url(images/search.jpg) no-repeat center;
margin-left:-37px;
width:33px;
}
.mall_search_left input[type=text]{ width:300px;
}
.mall_search li{ float:left;
line-height:30px;
}
.mall_search input{ width:100%;
height:30px;
}
.mall_search select{ width:100%;
height:30px;
width:300px;
margin-left:10px;
}
.mall_search_right ul{ float:right;
}
.mall_box{ width:100%;
float:left;
padding:10px 0;
background:#eee;
}
.mall_box li{ float:left;
width:100%;
//background:#f5de91;
margin-bottom:5px;
border-bottom: 6px solid #fff;
}
.mall_left{ float:left;
width:30%;
background:#eee;
}
.swiper_mall img{ width:100%;
}
.mall_right{ width:67%;
float:right;
font-size:13px;
padding:10px 1% 0 1%;
background:#eee;
}
.mall_right h3{ margin-bottom:7px; 
color:#385c7d;
}
.mall_right span{color:#385c7d;
font-weight:bold;
}
.mall_right p{ margin-bottom:7px;
}
.new_tab{ border-bottom:1px solid #ffefba;
}
.visit_link{ float:right;
background:#385c7d;
padding:10px 20px;
color:#f5de91;
font-weight:bold;
}
.no_photo{ background:#c1aa5d;
padding:7px 20px;
margin:5px 25px;
text-align:center;
border-radius:5px;
font-weight:bold;
color:#644d00;
}
.my_link{ width:99.7%;
//padding:1%;
float:left;
text-align:center;
background:#ff9900;
}
.my_link li{     width: 49%;
    float: left;
    padding: 10px 0;
    background: #fff;
    margin: 0 .5%;
}
.my_link li a{ font-weight:bold;
color:#ff9900;
text-decoration:underline;
}
.red{ color:red;
}
.price{ text-align:right;
}
.food_box{ width:100%;
float:left;
background:#fff;
margin-bottom:20px;
padding:20px 0;
} 
.food_box li{     float: left;
    width: 19%;
    margin:.5%;
}
.food_box img{ width:100%;
}
.price{ font-size:12px;
padding:0 1%;
width: 96%;
color:#385c7d;
//font-weight:normal;
}
.food_title{ float:left;
width:100%;
background:#F32E2E;
line-height:25px;
color:#fff;
font-weight:bold;
}
.food_title li{ float:left;
padding:10px;
}
.food_title li span{ float:right;
}
.org_bg{ background:;
}
.food_title select{ height:28px;
width:200px;
border:none;
margin-left:10px;
}
.food_title_left{ float:left;
width:70%;
}
.food_title_right{ float:right;
width:29%;
}
.food_title_right ul{ float:right;
}
.food_box .my_box{ //background:#f8e194 !important;
}
.resp-tab-content{ background:#fff !important;
    width: 96%;
    padding: 2%;
}
.cent_text{ text-align:center;
}
.cent_text img{ float:none;
margin:0 auto;
max-width:1000px;
}
.cls_fid{ width:96%;
float:left;
padding:5px 2%;
font-size:13px;
}
.foot_left{ float:left;
}
.foot_left a{ color:#fff;
}
.foot_left li{ padding:11px 15px;
}
.event_box_i{ float:left;
width:100%;
margin-top:10px;
}
.event_box_i img{ width:100%;
    float: left;
}
.event_box_i_blue{ background:#F32E2E;
float:left;
padding:5px 1%;
width:98%;
color:#fff;
}
.event_box_i_blue td{ padding:0 5px;
}
.i_blue_left{ float:left;
width:60%;
padding-top:5px;
}
.i_blue_right{ float:right;
width:40%;
}
.i_blue_right table{ float:right;
}
.blu_box_ii{ float:left;
width:98%;
background:#cccccc;
padding:5px 1%;
border-bottom:2px solid #25639b;
}
.blu_box_ii_left{ float:left;
width:49%;
color:#25639b;
font-weight:bold;
}
.blu_box_ii_right{ float:right;
width:49%;
text-align:right;
}
.blu_box_ii_right a{ font-weight:bold;
margin-top:10px;
float:right;
text-decoration:underline;
}
.add_res{ float:left;
width:98%;
float:left;
padding:10px 1%;
background:#cccccc;
color:#1f609a;
//font-weight:600;
line-height:150%;
}
.add_res li{ float:left;
margin:0 1%;
width:31.2%;
}
.mv_store{ width:99%;
float:left;
background:#F32E2E;
font-weight:bold;
padding:2px .5%;
}
.mv_store_left{ float:left;
width:48%;
padding:10px;
color:#fff;
}
.mv_store_right{ float:right;
width:48%;
padding:10px;
color:#fff;
}
.mv_store table{ width:100%;
}
.mv_store table small{ font-weight:normal;
margin-top:10px;
float:right;
}
.mv_store table td:last-child{ text-align:right;
}
.whit_bg{ background:#fff;
color:#F32E2E;
}
.yellow_bg{ background:#F32E2E;
color:#fff;
}
.st_box{ width:100%;
float:left;
}
.st_box li{ background:#ffe89b;
margin:1% .5%;
float:left;
color:#1f609a;
font-weight:bold;
width:19%;
}
.text_box>table{ width:100%;
}
.img_box{ float:left;
width:100%;
}
.img_box img{ width:100%;
}
.text_box{ width:96%;
float:left;
padding:10px 2%;
background:#eee;
}
.rgt_text{ text-align:right;
float:right;
}
.rgt_text td{ padding:0 5px;
}
.sera_area input{ width:90%;
height:30px;
background:url(images/search.jpg) left no-repeat, #fff;
padding-left:10%;
border:none
}
.mv_store_right_new {
    float: right;
    width: 48%;
    padding: 2px;
    color: #fff;
}
.bx_i td:last-child{ text-align:right;
}
.bx_i{ float:left;
margin:10px 0;
width:100%;
}
.bx_i li{ float:left;
margin:.5%;
background:#F32E2E;
color:#fff;
font-weight:bold;
    width: 19%;
}
.bx_i li>p img{ width:100%;
}
.bx_i table{ width:100%;
padding:2%;
}
.gry_box{ background:#666666 !important;
}
.tp_store{ float:left;
width:99%;
padding:7px .5%;
color:#fff;
}
.do_bx{ text-align:right;
color:#000;
}
.do_bx span{ color:#ff9900;
}
.tp_box li{ background:#fff;
}
.tp_box li td{ padding:3px;
}
.my_td td{ text-align:left !important;
}
.my_box{ float:left;
margin:10px 0;
}
.my_box li{ width:19%;
float:left;
background:#ffe89b;
margin:.5%;
}
.new_bottom_box{ width:100%;
float:left;
margin-bottom:30px;
}
.new_bottom_box li{ float:left;
padding:1%;
margin:1%;
width:21%;
background:#6b7f5a;
color:#f6de92;
font-size:13px;
}
.new_bottom_box img{width:100%;
margin-bottom:7px;
}
.rgt_text img{ max-width:20px;
}
.ac_box{ float:left;
width:100%;
margin-bottom:30px;
padding:15px 0
}
.ac_i{ float:left;
width:100%;
}
.ac_i_left li{ float:left;
background:#fff;
width:49%;
margin:0 .5%;
position:relative;
margin-bottom:5px;
}
.ac_i_left table{ width:100%;
}
.ac_i_left_left{ width:60%;
float:left;
}
.ac_i_left_left img{ width:100%;
}
.ac_i_left_right{ width:40%;
float:right;
//padding:10px 1% 0 0;
padding-top:5px;
}
.my_right td:last-child{ text-align:right;
}
.gren_box{ width:100%;
padding:10px 0;
text-align:center;
background:#8ea17a;
font-weight:bold;
color:#ffe89b;
  float:left;
}
.ac_ii{  position: absolute;
    bottom: 0;
    width: 40%;
}
.ac_i_left{ float:left;
width:68%;
}
.my_right img{ max-height:20px;
width:auto;
//padding:5px;
}
.ac_ii img{ max-height:12px;
width:auto;
}
.ac_i_right{    width: 31.7%;
float:right;
}
.new_bx{ width:100%;
background:#fff;
position:relative;
    min-height: 393px;
}
.bg_new img{ width:100%;
}
.new_bx .ac_ii{ width:100%;
}
.new_bx .my_right{ width:100%;
}
.new_bx .ac_ii table{ float:right;
}
.ac_ii_new{ width:100%;
float:left;
}
.ac_ii_new li{ float:left;
width:24%;
margin:0 .5%;
}
.ac_ii_new .new_bx{min-height:320px;
}
.light_i{ width:90%;
//max-width:1024px;
margin:0 auto;
}
.light_i_title{ width:98%;
float:left;
background:#0b5394;
color:#fff;
text-align:center;
padding:10px 1%;
}
.light_i_title a{ float:right;
width:10%;
color:#fff;
font-weight:bold;
text-align:right;
}
.light_i_title h3{ float:left;
width:79%;
}
.lib_i{ width:100%;
float:left;
 color:#0b5394;
 font-weight:bold;
}
.light_i_box{ width:96%;
float:left;
background:#fff;
padding:2%;
margin-bottom:10px;
}
.lib_i_left{ width:49%;
float:left;
}
.lib_i_right{ width:49%;
float:right;
text-align:right;
}
.lib_i_right table{ float:right;
}
.lib_i_right a{ color:#0b5394;
}
.lib_ii{ float:left;
width:100%;
}
.lib_ii li{ width:100%;
padding:10px 0;
border-bottom:1px solid #ddd;
float:left;
color:#666;
}
.lib_ii_left{ width:15%;
float:left;
text-align:center;
color:#666;
}
.lib_ii_left img{ max-width:100%;
}
.lib_ii_center{ float:left;
width:67%;
float:left;
padding:0 1%;
//border-right:1px solid #ccc;
}
.lib_ii_center h3{ margin-bottom:7px;
}
.lib_ii_center h3 span{ color:#0b5394;
}
.lib_ii_right{ width:13%;
padding:0 1%;
text-align:center;
float:right;
}
.mt_text{ width:100%;
float:left;
height:100px;
}
.cong_btn{ padding:10px 25px;
background:#38761d;
color:#fff;
border:none;
font-weight:bold;
border-radius:3px;
}
.light_ii_box{ width:98%;
background:#fff;
padding:2% 1%;
float:left;
}
.light_ii_box_left{ width:49%;
float:left;
}
.light_ii_box_right{ float:right;
width:49%;
}
.full_im img{ width:100%;
}
.lbx_i{ float:left;
width:100%;
margin-bottom:25px;
}
.lbx_i_left{ width:49%;
float:left;
}
.lbx_i_right{ width:49%;
float:right;
}
.lbx_i_right table{ float:right;
}
.lbx_i_right td{padding-left:5px;
}
.title{ width:100%;
float:left;
text-align:center;
color:#444444;
font-weight:bold;
//padding:10px 0;
margin-bottom:10px;
border-bottom:1px solid #ccc;
}
.title table{ margin:0 auto;
}
.light_ii_box_right td{ padding:10px;
}
.light_ii_box_right td:first-child{ color:#0b5394;
font-weight:bold;
}
.blu_color span{color:#0b5394;
font-weight:bold;
}
.blu_color{ margin-top:10px;
}
.hed_right_new a label:hover{ cursor:pointer;
}
/*================================================= */
/* #Media Queries
================================================== */
/********************************************************/
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (min-width:100px) and (max-width:767px) {
.con_i_left{ width:100%;
}
.con_i_right{ width:100%;
}
.fil_box_left{ width:100%;
}
.fil_box_right{ width:100%;
margin-top:10px;
margin-bottom:20px;
}
.cd-gallery li{ width:93%;
}
.bottom_box{ width:96%;
padding:2%;
}
.my_left_serach li input {
    width: 136px;
}
.store_i_left{ width:100%;
    margin-bottom:8px;
} 
.store_i_right{ width:100%;
}
.store_ii_left{ width:100%;
margin-bottom:8px;
}
.store_ii_right{ width:100%;
}
.store_ii_i{ width:100%;
margin-bottom:8px;
}
.store_ii_ii{ width:100%;
}
.ma_title_left{ width:100%;
margin-bottom:10px;
}
.ma_title_left h3{ padding-left:10px;
}
.ma_title_right{ width:100%;
float:left;
}
.ma_title_right select{ width:100%;
margin-right:10px;
float:right;
}
.ma_title_right table{ width:100%;
}
.ma_box_left{ width:100%;
float:right;
margin-bottom:7px;
}
.ma_box_right{ width:100%;
}
.login_left{ width:100%;
margin-bottom:10px;
}
.login_right{ width:100%;
}
.stores_box_left{ width:100%;
margin-bottom:10px;
}
.search_left{ width:100%;
margin-bottom:10px;
}
.hed_left_new{ width:100%;
text-align:center;
}
.hed_right_new{ width:100%;
}

.mall_left{ width:100%;
}
.mall_right{ width:96%;
    padding: 10px 2% 0 2%;
}
.food_title_left{ width:100%;
}
.food_title_right{ width:100%;
}
.foot_right{ width:100%;
}
footer{ text-align:center;
}
footer li{ display:inline-block;
float:none;
}
footer ul{ float:none;
}
.add_res li{ width:98%;
margin-bottom:10px;
}
.mv_store_left,
.i_blue_left{ width:93%;
}
.i_blue_right{ width:100%;
}
.mv_store_right{ width:93%;
}
.st_box li{ //width:100%;
}
} 
@media only screen and (min-width:100px) and (max-width:420px) {
.store_iii_box .swiper-slide{ width:100% !important;
}
.reg_search_inner input[type=text] {
    width: 125px;
}
.newscreen_ii_a li{ width:100%;
}
.offers_box li{ width:98% !important;
}
.stores_box_right{ width:98%;
}
.mall_search_left{ width:100%;
margin-bottom:10px;
}
.mall_search_right{ width:100%;
float:left;
}
.mall_search_left input[type=text] {
    width:100%;
}
.mall_search select {
    width:100%;
}
.mall_search{ width:96%;
padding:10px 2%;
}
.mall_search_right ul{ margin-right:10px;
}
.food_box li{ width:100%;
}
.bx_i li,
.st_box li{ width:99%;
}
.i_blue_left{ width:100%;
}
.mv_store_right_new{ width:96%;
}
.my_box li{ width:99%;
margin-bottom:10px;
}
.new_bottom_box li{ width:96%;
}
.ac_i_left{ width:100%;
}
.ac_i_left li{ width:100%;
}
.ac_i_right{ width:100%;
margin-bottom:5px;
}
.ac_ii_new li{ width:99%;
margin-bottom:5px;
}
.lib_ii_left{ width:100%;
margin-bottom:10px;
}
.lib_ii_center{ width:98%;
margin-bottom:10px;
text-align:center;
}
.lib_ii_right{ width:98%;
}
.light_ii_box_left{ width:100%;
}
.light_ii_box_right{ width:100%;
}
}
@media only screen and (min-width:421px) and (max-width:1124px) {
.store_iii_box .swiper-slide{ width:49% !important;
}
.newscreen_ii_a li{ width:49%;
}
.offers_box li{ width:48% !important;
}
.stores_box_right{ width:98%;
}
.search_left{ float:left;
    width: 300px;
}
.mall_search_left input[type=text] {
    width:100%;
}
.mall_search select {
    width:100%;
}
.mall_search_right ul{ margin-right:10px;
}
.food_box li{ width:49%;
}
.bx_i li,
.st_box li{ width:49%;
}
.my_box li{ width:49%;
margin-bottom:10px;
}
.new_bottom_box li{ width:46%;
}
.ac_i_left{ width:100%;
}
.ac_i_left li{ width:100%;
}
.ac_i_right{ width:100%;
margin-bottom:5px;
}
.ac_ii_new li{ width:99%;
margin-bottom:5px;
}
}
@media only screen and (min-width:981px) and (max-width:1210px){
	.mall_search_left input[type=text] {
    width:200px;
}
.mall_search select {
     width:200px;
}
.mall_search_right ul{ margin-right:10px;
}
.ac_i_left{ width:100%;
}
.ac_i_right{ width:49.5%;
float:left;
margin-bottom:5px;
}
.ac_ii_new li{ width:49%;
}
.new_bx{     min-height: 450px;
}
.ac_ii_new .new_bx {
    min-height: 450px;
}
}

/*Swipe css*/


