@model Loregroup.Core.ViewModels.PackageViewModel
<div class="row">
   
        @*<div class="panel ">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div>
                            <h1 style="color:blue">Free</h1>
                            <h4>Free</h4>
                        </div>
                        
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">3200</div>
                        <div>Total Deals</div>
                        <div class="huge">3200</div>
                        <div>Total Deals</div>
                        <div class="huge">3200</div>
                        <div>Total Deals</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>

        </div>*@
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                           <h1></h1>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                            <div class="huge">26</div>
                            <div>New Comments!</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Customise</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="timeline-badge blue">
                            <i class="fa fa-user fa-4x"></i>
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">220</div>
                        <div>Total Sellers</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="timeline-badge blue2">
                            <i class="fa fa-shopping-cart fa-4x"></i>
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">10,320</div>
                        <div>Total Revenue</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="timeline-badge Green">
                            <i class="fa fa-comments fa-4x"></i>
                        </div>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">456</div>
                        <div>Total Advertisements</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>