
@{
    ViewBag.Title = "Templete";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Template</title>
    <link href="~/Content/css1/style.css" rel="stylesheet" />
    <link href="~/Content/css1/css/style.css" rel="stylesheet" />
    <link href="~/Content/css1/css/swiper.css" rel="stylesheet" />
    <script src="~/Content/js1/modernizr.js"></script>

    <style>
        .templete {
            width: 35%;
            padding: 0%;
            background: #eee;
            color: #F32E2E;
            float: left;
            margin: 2px 0;
        }
    </style>
</head>

<div class="templete">
    <p>KFC</ <p>
<p><img src="~/Content/images1/off1.jpg"></p>
    <p>Please read them. They apply to the software named above, which includes the media on which you received it, if any. Printed-paper license terms.</p>

    <div class="my_bo_i">
        <div class="my_bo_i_left">

            <table>
                <tr>
                    <td><img src="~/Content/images1/clock.jpg"></td>
                    <td>02 : 20 : 33</td>
                </tr>
            </table>
        </div>
        <div class="my_bo_i_right">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/dil.jpg"></td>
                                <td>283</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/clock.jpg"></td>
                                <td>376</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>

<div class="templete" style="margin-left:10px;">
   
   
    <p>Please read them. They apply to the software named above, which includes the media on which you received it, if any. Printed-paper license terms.</p>
    <p><img src="~/Content/images1/off1.jpg"></p>
    <p>KFC</p>

    <div class="my_bo_i">
        <div class="my_bo_i_left">

            <table>
                <tr>
                    <td><img src="~/Content/images1/clock.jpg"></td>
                    <td>02 : 20 : 33</td>
                </tr>
            </table>
        </div>
        <div class="my_bo_i_right">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/dil.jpg"></td>
                                <td>283</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/clock.jpg"></td>
                                <td>376</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>


<div class="templete" style="margin-left:0px; margin-top:05px;">

    <p>KFC</p>
    <p>Please read them. They apply to the software named above, which includes the media on which you received it, if any. Printed-paper license terms.</p>
    <p><img src="~/Content/images1/off1.jpg"></p>
    
    <div class="my_bo_i">
        <div class="my_bo_i_left">

            <table>
                <tr>
                    <td><img src="~/Content/images1/clock.jpg"></td>
                    <td>02 : 20 : 33</td>
                </tr>
            </table>
        </div>
        <div class="my_bo_i_right">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/dil.jpg"></td>
                                <td>283</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/clock.jpg"></td>
                                <td>376</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="templete" style="margin-left:10px; margin-top:05px;">
    <p><img src="~/Content/images1/off1.jpg"></p>
   
    <p>Please read them. They apply to the software named above, which includes the media on which you received it, if any. Printed-paper license terms.</p>
    <p>KFC</p>

    <div class="my_bo_i">
        <div class="my_bo_i_left">

            <table>
                <tr>
                    <td><img src="~/Content/images1/clock.jpg"></td>
                    <td>02 : 20 : 33</td>
                </tr>
            </table>
        </div>
        <div class="my_bo_i_right">
            <table>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/dil.jpg"></td>
                                <td>283</td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><img src="~/Content/images1/clock.jpg"></td>
                                <td>376</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>