@model Loregroup.Core.ViewModels.StoreMasterViewModel
@{
    Layout = null;
}
<meta charset="utf-8">
<title>::Loregroup::</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Link Swiper's CSS -->
<link href="~/Content/css1/Loregroup.css" rel="stylesheet" /><!-- Resource style -->
<script src="~/Content/js1/modernizr.js"></script>
<style>
        /* [Object] Modal
        * =============================== */
        .modal {
            opacity: 0;
            visibility: hidden;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: left;
            background: rgba(0,0,0, .9);
            transition: opacity .25s ease;
        }

        .modal__bg {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
        }

        .modal-state {
            display: none;
        }

            .modal-state:checked + .modal {
                opacity: 1;
                visibility: visible;
                z-index: 9999;
            }

                .modal-state:checked + .modal .modal__inner {
                    top: 0;
                }

        .modal__inner {
            transition: top .25s ease;
            position: absolute;
            top: -20%;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50%;
            margin: auto;
            overflow: auto;
            background: #fff;
            border-radius: 5px;
            padding: 1em 2em;
            height: 82%;
        }

        .modal__close {
            position: absolute;
            right: 0.5em;
            top: 1.7em;
            width: 1.1em;
            height: 1.1em;
            cursor: pointer;
        }

            .modal__close:after,
            .modal__close:before {
                content: '';
                position: absolute;
                width: 2px;
                height: 1.5em;
                background: #ccc;
                display: block;
                transform: rotate(45deg);
                left: 50%;
                margin: -3px 0 0 -1px;
                top: 0;
            }

            .modal__close:hover:after,
            .modal__close:hover:before {
                background: #aaa;
            }

            .modal__close:before {
                transform: rotate(-45deg);
            }

        .nnn {
            width: 48%;
        }

        media screen and (max-width: 768px) {
            .modal__inner;

        {
            width: 90%;
            height: 90%;
            box-sizing: border-box;
        }

        .login_left_popup {
            float: left;
            width: 98%;
        }

        .login_right_popup {
            float: right;
            width: 98%;
        }

        }


        /* Other
        * =============================== */
        .btn {
            cursor: pointer;
            background: #27ae60;
            display: inline-block;
            padding: .5em 1em;
            color: #fff;
            border-radius: 3px;
        }

            .btn:hover,
            .btn:focus {
                background: #2ecc71;
            }

            .btn:active {
                background: #27ae60;
                box-shadow: 0 1px 2px rgba(0,0,0, .2) inset;
            }

        .btn--blue {
            background: #2980b9;
        }

            .btn--blue:hover,
            .btn--blue:focus {
                background: #3498db;
            }

            .btn--blue:active {
                background: #2980b9;
            }
    </style>
@using (Html.BeginForm())
{
<div class="new_header">
    <div class="inner_wrapper">
        <div class="hed_left_new">
            <a href="index.html"><img src="~/Content/images1/logo.jpg"></a>
        </div>
        <div class="hed_right_new">
            <ul>
                <li><a href="#">Download App</a></li>
                <li><a href="#">Find Deals</a></li>
                <li><a href="#">Post Classifieds</a></li>
                <li><a href="#">Post Deals</a></li>
                <li><a href="#">Advertise</a></li>
            </ul>
            <ul>
                <li>
                    <div class="search_left">
                        <input type="text" placeholder=" Search" />
                    </div>
                    <div class="search_right">
                        <input type="submit" value=" ">
                    </div>
                </li>
                <li>
                    <select>
                        <option>Indore</option>
                        <option>Indore</option>
                        <option>Indore</option>
                        <option>Indore</option>
                    </select>
                </li>
                <li><a>@Html.Label("Login/Signup")</a></li>
             
            </ul>
        </div>
        <button type="submit" class="btn bg-olive btn-block">Sign me in</button>
    </div>
</div>
    <div class="content">
        <div class="slider">
            <div class="inner_wrapper">
                <!-- Swiper -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="~/Content/images1/slider1.jpg"></div>
                        <div class="swiper-slide"><img src="~/Content/images1/slider2.jpg"></div>
                        <div class="swiper-slide"><img src="~/Content/images1/slider3.jpg"></div>
                        <div class="swiper-slide"><img src="~/Content/images1/slider1.jpg"></div>
                        <div class="swiper-slide"><img src="~/Content/images1/slider2.jpg"></div>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
        <div class="inner_wrapper">
            <div class="hed_line">
                <marquee>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</marquee>
            </div>
        </div>
        <div class="con_i">
            <div class="inner_wrapper">

                <div class="con_i_left left_bg">
                    <div class="my_left_serach">
                        <form>
                            <ul>
                                <li><input type="text" placeholder=" Search"></li>
                                <li><input type="submit" value="Search" /></li>
                            </ul>
                        </form>
                    </div>
                    <div class="store_i">
                        <a href="offer.html">
                            <div class="store_i_left">
                                <table>
                                    <tr>
                                        <td><h3>Offers</h3></td>
                                        <td><img src="~/Content/images1/store1.png"></td>

                                    </tr>
                                </table>
                            </div>
                        </a>
                        <div class="store_i_right">
                            <a href="store.html">
                                <table>
                                    <tr>
                                        <td><h3>Stores</h3></td>
                                        <td><img src="~/Content/images1/store2.png"></td>
                                    </tr>
                                </table>
                            </a>
                        </div>
                    </div>
                    <div class="store_ii">
                        <div class="store_ii_left">
                            <a href="mall.html">
                                <h3>Malls</h3>
                                <p><img src="~/Content/images1/store3.png"></p>
                            </a>
                        </div>
                        <div class="store_ii_right">
                            <div class="">
                                <div class="store_ii_i">
                                    <a href="food_drink.html">
                                        <p><img src="~/Content/images1/store4.png"></p>
                                        <h3>CD Deals</h3>
                                    </a>
                                </div>
                                <div class="store_ii_ii">
                                    <a href="Classifieds.html">
                                        <p><img src="~/Content/images1/store5.png"></p>
                                        <h3>Classifieds</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="red_box">
                                <a href="event_store.html">
                                    <table>
                                        <tr>
                                            <td><h3>New Openings</h3></td>
                                            <td><img src="~/Content/images1/store6.png"></td>
                                        </tr>
                                    </table>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="store_iii">
                        <div class="store_iii_title">
                            <div class="store_iii_left">
                                <h3>Offers</h3>
                            </div>
                            <div class="store_iii_right">
                                <ul>
                                    <li><a href="#"><img src="~/Content/images1/ref.jpg"></a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="store_iii_box">
                            <!-- Swiper -->
                            <div class="swiper-container_one">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/off1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/off2.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/off3.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/off4.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="store_iii">
                        <div class="store_iii_title">
                            <div class="store_iii_left">
                                <h3>Stores</h3>
                            </div>
                            <div class="store_iii_right">
                                <ul>
                                    <li><a href="#"><img src="~/Content/images1/ref.jpg"></a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="store_iii_box">
                            <!-- Swiper -->
                            <div class="swiper-container_one">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto2.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto3.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/sto4.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="store_iii">
                        <div class="store_iii_title">
                            <div class="store_iii_left">
                                <h3>Malls</h3>
                            </div>
                            <div class="store_iii_right">
                                <ul>
                                    <li><a href="#"><img src="~/Content/images1/ref.jpg"></a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="store_iii_box">
                            <!-- Swiper -->
                            <div class="swiper-container_one">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/mall1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/mall2.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/mall3.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/mall4.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="store_iii">
                        <div class="store_iii_title">
                            <div class="store_iii_left">
                                <h3>Classifieds</h3>
                            </div>
                            <div class="store_iii_right">
                                <ul>
                                    <li><a href="#"><img src="~/Content/images1/ref.jpg"></a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="store_iii_box">
                            <!-- Swiper -->
                            <div class="swiper-container_one">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="store_iii">
                        <div class="store_iii_title">
                            <div class="store_iii_left">
                                <h3>New Openings</h3>
                            </div>
                            <div class="store_iii_right">
                                <ul>
                                    <li><a href="#"><img src="~/Content/images1/ref.jpg"></a></li>
                                    <li><a href="#">View All</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="store_iii_box">
                            <!-- Swiper -->
                            <div class="swiper-container_one">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="my_box">
                                            <p><img src="~/Content/images1/p1.jpg"></p>
                                            <h5>KFC King Combo</h5>
                                            <div class="my_bo_i">
                                                <div class="my_bo_i_left">

                                                    <table>
                                                        <tr>
                                                            <td><img src="~/Content/images1/clock.jpg"></td>
                                                            <td>02 : 20 : 33</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="my_bo_i_right">
                                                    <table>
                                                        <tr>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/dil.jpg"></td>
                                                                        <td>283</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td>
                                                                <table>
                                                                    <tr>
                                                                        <td><img src="~/Content/images1/clock.jpg"></td>
                                                                        <td>376</td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        </div>
}
<script src="~/Content/js1/swiper.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        //spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });

    var swiper = new Swiper('.swiper-container_one', {
        pagination: '.swiper-pagination',
        slidesPerView: 4,
        slidesPerColumn: 1,
        paginationClickable: true,
        spaceBetween: 10
    });
</script>
<script src="~/Content/js1/jquery-2.1.1.js"></script>
<script src="~/Content/js1/jquery.mixitup.min.js"></script>
<script src="~/Content/js1/main.js"></script> 
