

<div class="row">
    <div class="col-lg-8 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>.</h3>
                <p>
                    User Registration
                </p>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
            </div>
            <a href="@Url.Action("User", "Account")" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>


    <div class="col-lg-8 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>.</h3>
                <p>
                    Store Registration
                </p>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
            </div>
            <a href="@Url.Action("Store", "Account")" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>


    <div class="col-lg-8 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>.</h3>
                <p>
                    Mall Registration
                </p>
                <div class="icon">
                    <i class="ion ion-person-stalker"></i>
                </div>
            </div>
            <a href="@Url.Action("AddNewMall", "Account")" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>
</div>


