
@{    
    Layout = null;
}


@*<div>
    <span style="color:white;background-color:green;">
        Thank You For Confirmation
    </span>
</div>*@

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">

    <title>Alpha Lore</title>
    <!--
    Comila Template
    http://www.templatemo.com/tm-490-comila
    -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- stylesheets css -->
    <link rel="stylesheet" href="~/Content/cssforPO/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="css/animate.min.css"> -->
    <!-- <link rel="stylesheet" href="css/et-line-font.css"> -->
    <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="css/vegas.min.css"> -->
    <link rel="stylesheet" href="~/Content/cssforPO/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Rajdhani:400,500,700' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- about section -->
    <section id="about">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <img src="~/Content/lorelogo.jpg" class="img-responsive wow fadeInUp" alt="About" style="margin:auto; width:170px;">
                </div>

                <div class="col-md-12 col-sm-12" style="text-align:center">
                    <div class="about-thumb">
                        <div class="section-title">
                            <h1 class="wow fadeIn" data-wow-delay="0.2s">LORE LIMITED</h1>
                            <h3 class="wow fadeInUp" data-wow-delay="0.4s">
                                UNIT 139,VIGLEN HOUSE WEMBLEY HA0 1HD<br>
                                TEL: +44 (0)845 224 9601, FAX: +44 (0)20 8998 0080
                            </h3>
                            <h3 class="wow fadeInUp" data-wow-delay="0.4s">
                                WEB: WWW.LORE-GROUP.COM, E-MAIL: SALES@LORE-GROUP.COM
                            </h3><br>                           
                            <h2 class="wow fadeInUp" data-wow-delay="0.4s">@TempData["ResponseMsg"]</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- javscript js -->
    <!-- <script src="js/jquery.js"></script> -->
    <!-- <script src="js/bootstrap.min.js"></script> -->
    <!-- <script src="js/vegas.min.js"></script> -->
    <!-- <script src="js/wow.min.js"></script> -->
    <!-- <script src="js/smoothscroll.js"></script> -->
    <!-- <script src="js/custom.js"></script> -->

</body>
</html>