
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Frontend/Lore Group Login/images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Frontend/Lore Group Login/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <style>
        .back-arrow {
            background: url('../../Frontend/Lore Group Login/icons8-back-26-gray.png')no-repeat;
            width: 50px;
            height: 30px;
        }

            .back-arrow:hover {
                background: url('../../Frontend/Lore Group Login/icons8-back-26-black.png')no-repeat;
                width: 50px;
                height: 30px;
            }
    </style>

    <div class="limiter">

        <div class="container-login100" style="background-image:url('../../Frontend/Lore Group Login/login-back.jpg')">
            <div class="wrap-login100">
                <a href="@Url.Action("Login","Lore")">
                    <div class="back-arrow">
                    </div>
                </a>

                <div class="login100-form validate-form">
                   
                    <span class="login100-form-title p-b-34 p-t-27">
                        Forgot  Password ?
                    </span>
                    <br>

                    @*@using (Html.BeginForm("Login", "Lore", FormMethod.Post))
                    {*@
                        <div class="form-group">
                            @*@Html.BsTextBoxWithPHFor(model => model.Username)
                            @Html.ValidationMessageFor(model => model.Username)*@
                            <label class="control-label" for="username">Email-Id</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you email-id" required="" value="" name="emailid" id="emailid" class="form-control">
                                <span class="help-block small">Enter your Email-Id that you have registered in Lore Group.</span>
                        </div>                                
                    <br />
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" type="submit" onclick="sendresetpasswordmail()">Reset Password</button>
                        </div>
                    @*}*@

                    <div class="text-center p-t-10">
                        <a class="txt1" href="@Url.Action("Login","Lore")">
                            Back To Home
                        </a>
                    </div>

                    <!-- <div class="text-center p-t-50"> -->
                    <!-- <span class="txt1"> -->
                    <!-- Don’t have an account? -->
                    <!-- </span> -->
                    <!-- <a class="txt2" href="#"> -->
                    <!-- Sign Up -->
                    <!-- </a> -->
                    <!-- </div> -->
                </div>


                <div id="myLoadingElement" style="display:none;position:absolute;top:50%;left:50%;">
                    <img src="~/Content/ajax-loader.gif" alt="Loading..." width="60px" />
                    @*<img src="loading.gif" alt="Loading..." />*@
                </div>


            </div>
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Frontend/Lore Group Login/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Frontend/Lore Group Login/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Frontend/Lore Group Login/login/js/main.js"></script>

</body>
</html>


<script type="text/javascript">


    function sendresetpasswordmail() {

        var PQty = $("#emailid").val();
        if (PQty != "" && PQty != null) {
        }
        else {
            alert("Please Enter Email-Id");
            $("#emailid").focus();
            return false;
        }
        
        //var pcategoryid = $("#categoryidvalue").text();
        //alert(pcategoryid);
        $.ajax({

            url: '/Lore/ResetPasswordSendEmail?EmailId=' + PQty,
            //type: 'GET',
            crossDomain: true,
            //data: JSON.stringify(employee),
            //data: { emailid: abc, password: def },
            //dataType: 'json',
            contentType: "application/json",
            //contentType: "application/xml; charset=utf-8",
            beforeSend: function () {
                $("#myLoadingElement").show();
            },
            complete: function () {
                $("#myLoadingElement").hide();
            },
            success: function (data) {
                //alert("Thank you for contacting us!");
                if (data == 1) {
                    //alert("Product Added To Cart!");

                    window.location.href = "http://www.lorefashions.com/Lore/ResetPasswordSuccess";
                    //document.location = '/Lore/Products?CategoryId=' + pcategoryid;
                    //Url.Action("Products", "Lore", new { CategoryId = Model.CategoryId })';
                    return true;
                }
                else if (data == 2) {
                    alert("Email-Id Not Exixts !");
                        return false;
                    }
                else {
                    alert("Server Error ! please try later.");
                    return false;
                }
                //window.location.href = "http://www.bookcommerce.com/";
                return false;
            },
            error: function (data) {
                console.log(data);
                alert("Some error occured");
                return false;
            }

        });
        //return false;


        //$("#cartid").append(lidata);
    }


</script>
